body {
  font-family: "Times New Roman", Times, Serif;
  background-image: url("https://i.imgur.com/odcTwIm.jpg");
  background-size: cover;
  position: relative;
}

h1 {
  mix-blend-mode: exclusion;
  color: white;
  text-align: center;
  
}
.services{
background-color: white;
  width:3 00px
  border: 100% solid gray;
  padding: 5px;
  margin: .05%;
  column-count: 3;
  column-rule: 1px solid lightblue;
}
h2{
  text-align:center;
  
  column-span: all;
}
p {
  
  font-family: "Times New Roman", Times, Serif;
}
li{
  list-style-type:none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightskyblue;
  cursor: pointer;
}
div{
  background-color: white;
  width:3 00px
  border: 100% solid gray;
  padding: 5px;
  margin: .05%;
  column-count: 3;
  
}

  
  