body {
  font-family: "Times New Roman", Times, Serif;
  background-image: url("https://i.imgur.com/odcTwIm.jpg");
  background-size: cover;
  position: relative;
}

div.welcome{
  mix-blend-mode: exclusion;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  
}
div.services{
background-color: white;
  margin: .05%;
  column-count: 3;
  column-rule: 1px solid lightblue;
  position:bottom;
}

h2{
  text-align:center;
  
  column-span: all;
}
p {
  
  font-family: "Times New Roman", Times, Serif;
}
li{
  list-style-type:none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightskyblue;
  cursor: pointer;
}
div.index{
  background-color: white;
  margin: .05%;
  column-count: 4;
  padding-bottom: 0;
}

  
  