body {
    font-family: 'Times New Roman', Times, Serif;
    background-color: pink;
  }
  
  h1 {
    font-style: italic;
    color: white;
    text-align: center;
  }
  
  p {
    font-family: 'Times New Roman', Times, Serif;
  }
  
  
  
  