


from sqlalchemy import create_engine
from sqlalchemy import Column, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

db_string =  "postgres://vcm:dbpasswd@localhost:5432/beers"
db = create_engine(db_string)  

Database.
1. the username
2.the password
3.name of the database
4.the host /(local host if it is on your laptop)

1. setup postgress locally
2.connect to a local database.
3.production database using vcm(why cant we connect to the vcm )
4.