<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/home.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/home.js') }}"></script>
  </head>



  
<div class = welcome ><h1>WELCOME TO SPOTIFY DATA SHARE!</h1></div>

<div class=services>
  <h2>WHAT WE PROVIDE.</h2>
  <ul>
    <li><h3>METRICS AND VISUALIZATION </h3>
      <p> blah blah blah how do we rank your data blahs s  </p>
    </li>
    
   
       
      <li><h3> SIMILARITY TO OTHER USERS </h3>
      <p> blah blah blah how do we rank your data blahs s  </p>
        
       <li><h3> RECOMMENDATIONS </h3>
      <p> blah blah blah how do we rank your data blahs s  </p>
    </li>
    </li>
    
    </li>
    
    </ul>
  
  
</div>

<div class=index>
  <ol>
  <li><a href="/">Home</a></li>
  <li><a href="/welcome">Welcome</a></li>
  <li><a href="/login">Login</a></li>
</ol>
  
</div>