<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
  </head>



<h1>This is the index page.</h1>
<ul>
  <li><a href="/">Index</a></li>
  <li><a href="/welcome">Welcome</a></li>
  <li><a href="/database">Page w/database</a></li>
</ul>
<p> This is our index page. As we think of the general structure for our website, we can add more pages here.<p>